 <!-- Awards-->
 <section class="resume-section" id="awards">
  <div class="resume-section-content">
      <h2 class="mb-5">Certificaciones</h2>
      <ul class="fa-ul mb-0">
          <li *ngFor="let certif of certificadoList">
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              {{certif.curso1}}
          </li>
          <li *ngFor="let certif of certificadoList">
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              {{certif.curso2}}
          </li>
          <li *ngFor="let certif of certificadoList">
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              {{certif.curso3}}
          </li>
          <li *ngFor="let certif of certificadoList">
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>

              {{certif.curso4}}
          </li>
          <li *ngFor="let certif of certificadoList">
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>

              {{certif.curso5}}
          </li>

      </ul>
  </div>
</section>
