<!-- Experience-->
<div>
<section class="resume-section" id="experience">
  <div class="resume-section-content">
      <h2 class="mb-5">{{miPorfolio.experiencia.expe}}</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
              <h3 class="mb-0">{{miPorfolio.experiencia.titulo8}}</h3>
              <div class="subheading mb-3">{{miPorfolio.experiencia.compania}}</div>
              <p>{{miPorfolio.experiencia.expedesc}}</p>
       </div>   </div>

  </div>
</section> </div>

<hr class="m-0" />
